a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

input, textarea, select {
  outline: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --font: Arial, sans-serif;
  --bgColor: #FC2C38;
  --bgHoverColor: #D21924;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, small, strike, strong, b, i, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

li, form, label, table, tbody, tfoot, thead, tr, th, td, canvas, footer, header, menu, nav, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  background: #FFFFFF;
  color: #333333;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.blockWidth {
  max-width: 1340px;
  width: auto;
  margin: 0 auto;
  text-align: left;
}

.navigation {
  margin: 21px auto 44px;
}

.navigationLink {
  font: 18px/18px Arial, sans-serif;
  text-transform: uppercase;
}

.caption {
  font: 700 50px/50px Arial, sans-serif;
  text-align: left;
  text-align-last: left;
}

.captionSmall {
  font: 700 30px/30px Arial, sans-serif;
}

.text {
  font: 400 22px/26.4px Arial, sans-serif;
  text-align: left;
  text-align-last: left;
}

.textSpan {
  color: #FC2C38;
}

.textSmall {
  font: 400 16px/1.2 Arial, sans-serif;
  text-align: left;
  text-align-last: left;
}

.textDescription {
  max-width: 850px;
  margin: 20px 0 30px;
}

.textDescription2 {
  max-width: 1000px;
  margin: 20px 0 0;
}

.textDescription3 {
  max-width: 260px;
  margin: 15px 0 0;
}

.link {
  font: 500 20px/20px Arial, sans-serif;
  color: #FFFFFF;
  width: 300px;
  text-align: center;
  text-align-last: center;
  padding: 18px 0;
  background: #FC2C38;
  display: block;
  margin-bottom: 50px;
  border-radius: 3px;
}

.link:hover {
  background: #D21924;
}

.blockInline {
  display: inline-block;
  vertical-align: top;
}

.blockSchedule {
  /* margin-left: 150px; */
  position: relative;
}

.schedule {
  margin-top: 20px;
}

.blockTime {
  margin-bottom: 26px;
  text-align: left;
  text-align-last: left;
}

.blockTime:nth-last-child(1) {
  margin-bottom: 0;
}

.time {
  font: 500 22px/26.4px Arial, sans-serif;
  color: #FC2C38;
  margin-right: 15px;
}

.scheduleEvent {
  font: 400 18px/26.4px Arial, sans-serif;
}

.blockAction {
  margin-bottom: 150px;
}

.blockMain {
  text-align-last: justify;
}

.blockMobile {
  display: none;
}

.blockName {
  text-align: left !important;
  text-align-last: left !important;
}

.imgName {
  width: 60px;
  height: auto;
}

.textName {
  font: 600 18px/21.6px Arial, sans-serif;
  margin-left: 13px;
  position: absolute;
}

.textNamePadding9 {
  padding: 9px 0;
}

.blockPanelTop, .blockPanelBottom {
  max-width: 202px;
  padding: 20px;
  /* box-shadow: inset 0 0 0 1px #BDBDBD; */
  border: 1px solid #BDBDBD;
}

.blockPanelBottom {
  border-top: 0;
}

.blockPanelItem {
  margin: 20px 0;
  /* margin: 20px 15px; */
}

.blockPanelItem:nth-child(1) {
  /* margin: 20px 15px 20px 0; */
}

.blockPanelItem:nth-last-child(1) {
  /* margin: 20px 0 20px 15px; */
}

.panelTime {
  font: 600 22px/1.2 Arial, sans-serif;
  color: #FC2C38;
}

.panelCaption {
  font: 600 18px/1.2 Arial, sans-serif;
}

.textPanelMarginTop {
  margin-top: 15px;
}

.spanBold {
  font-weight: 700;
}

.blockPanel {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-device-width: 1440px) {
  .blockWidth {
    max-width: 1320px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .textDescription {
    max-width: 750px;
  }

  .blockPanelItem {
    width: calc(20% - 30px);
    min-width: 192px;
  }

  .blockPanelItem:nth-child(1), .blockPanelItem:nth-last-child(1) {
    width: calc(20% - 15px);
    min-width: 192px;
  }

  .textDescription3 {
    font-size: 18px;
  }
}

@media only screen and (max-device-width: 1290px) {
  .blockPanel {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .blockPanelItem {
    width: auto;
    min-width: auto;
    padding-right: 20px;
  }

  .blockPanelItem:nth-child(1), .blockPanelItem:nth-last-child(1) {
    width: auto;
    min-width: auto;
  }

  .blockPanelItem:nth-child(1), .captionSmallPanel {
    padding-left: 50px;
  }

  .blockPanelTop, .blockPanelBottom {
    width: 230px;
    max-width: 230px;
  }
}

@media only screen and (max-device-width: 1024px) {
  .text {
    font-size: 18px;
  }
  .textDescription {
    max-width: 650px;
  }

  .scheduleEvent {
    max-width: 130px;
  }

  .blockMainLeft {
    width: 65%;
  }
}

@media only screen and (max-device-width: 768px) {
  .blockAction {
    margin-bottom: 0;
  }

  .scheduleEvent {
    max-width: none;
  }

  .blockMobile {
    display: block;
    margin-top: 30px;
    margin-bottom: 120px;
  }

  .blockWidth {
    min-width: 280px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .blockMainLeft {
    width: 100%;
  }

  .textDescription, .textDescription2 {
    max-width: none;
  }

  .navigation {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navigationLink {
    font: 16px/20px Arial, sans-serif;
  }

  .caption {
    font: 700 30px/30px Arial, sans-serif;
  }

  .text {
    font: 16px/19.2px Arial, sans-serif;
  }

  .link {
    font: 500 16px/20px Arial, sans-serif;
    max-width: 450px;
    width: 100%;
    margin: 0 auto 50px;
  }

  .blockSchedule {
    display: none;
  }

  .blockModerator {
    display: block;
  }

  .captionSmall {
    font: 700 24px/30px Arial, sans-serif;
  }

  .blockActionMobile {
    padding: 20px;
    box-shadow: inset 0 0 0 1px #BDBDBD;
    border-radius: 3px;
  }

  .blockTime {
    display: flex;
    justify-content: flex-start;
  }

  .blockPanelItem:nth-child(1), .captionSmallPanel {
    padding-left: 20px;
  }

  .captionSmallPanel {
    margin-top: 50px;
  }
}
